$primary-background: #313855;
$font-color: #8EBBFF;
$input-background: #8ebbff42;

.complete-data{
    h1{
        color: $font-color;
    }
    table{
        width: 90%;
        text-align: center;
        border-color: $font-color;
        border-collapse: collapse;
        
        th{
            color: $font-color;
            font-size: 1.25rem;
            padding: 0.5rem 0 0.5rem 0;
        }
        td{
            color: white;
            padding: 0.5rem 0 0.5rem 0;

        }

    }
}