.due--table {
    width: 80vw;
    display: grid;
}

.due--table-row {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.due--table-heading {
    flex: 1;
    font-weight: bold;
    color: #8EBBFF;
    font-size: 1.5rem;
    border: 1px solid #8EBBFF;
    text-align: center;
    margin: 0;
}

.due--table-data-products {
    flex: 1;
    margin: 0;
    color: white;
    font-size: 1rem;
    border: 1px solid #8EBBFF;
    text-align: center;
}

.due--table-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0;
    color: white;
    font-size: 1rem;
    border: 1px solid #8EBBFF;
    text-align: center;
}

.due--table-delete {
    background-color: rgba(255, 0, 0, 0.735);
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
}

.due--table-delete:focus {
    outline: orange;
}

.due--table-delete:hover {
    background-color: red;
    cursor: pointer;
}

@media (max-width: 600px) {
    .due--table-heading {
        font-size: 1.25rem;
        padding: 0 1rem;
    }

    .due--table-data {
        font-size: 1rem;
        padding: 0 1rem;
    }
}
