$primary-background: #313855;
$font-color: #8EBBFF;
$input-background: #8ebbff42;
.Daily{
    width: 80vw;
}
.daily--input{
    background-color: $input-background;
    color: $font-color;
    border: none;
    font-size: 1.1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.daily--table{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.daily--table-row{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.daily--table-row-c1{

    flex: 0.75;
    border: 1px solid $font-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a{
        text-decoration: none;
        background-color: $font-color;
        font-size: 1rem;
        padding: 0.25rem;
        color: white;
        margin-top: 0.5rem;
    
    }
}
.daily--table-row-c2{
    flex:1.25;
    border: 1px solid $font-color;
    display: flex;
   
    flex-direction: column;
}
.daily--table-row-heading{
    margin: 0;
    color: $font-color;
    font-size: 1.5rem;
}
.daily--table-row-data{
    margin: 0;
    font-size: 1.25rem;
    color: white;
}
.daily--table-row-c2-c1{
    flex: 1.5;
    border:  1px solid $font-color;
    
}
.daily--table-row-c2-others{
    flex: 0.75;
    border:  1px solid $font-color;
    
}
.bottom-data{
    display: flex;
    h3{
        color: $font-color  ;
    }
}

@media (max-width: 600px){
    .daily--input{
        font-size: 1rem;
        padding: 0.25rem;
    }
    .daily--table{
        width: 100vw;
    }
    .daily--table-row-heading{
        font-size: 1.25rem;
    }
    .bottom-data{
        h3{
            font-size: 1rem;
        }
    }
    .daily--table-row-data{
        font-size: 1rem;
    }
}