$primary-background: #313855;
$font-color: #8EBBFF;
$input-background: rgba(142, 187, 255, 0.26);

.delete-products{
    h1{
        color: $font-color;
    }
    h2{
        color: $font-color;
    }
    select{
        background-color: $input-background;
        border: none;
        color: $font-color; 
        font-size: 1.25rem;
        padding: 0.5rem;
    }
    select:focus{
        outline: 2px solid $font-color;
    }
    table{
        width: 90%;
        text-align: center;
        border-color: $font-color;
        border-collapse: collapse;
        
        th{
            color: $font-color;
            font-size: 1.25rem;
            padding: 0.5rem 0 0.5rem 0;
        }
        td{
            color: white;
            padding: 0.5rem 0 0.5rem 0;
            button{
                background-color: rgba(255, 0, 0, 0.669);
                color: white;
                border: none;
                font-size: 1rem;
                padding: 0.2rem 0.4rem 0.2rem 0.4rem;
                cursor: pointer;
                transition: all 0.2s;
            }

            button:hover{
                background-color: red;
            }
        }

    }
}