@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Roboto&display=swap');
$primary-background: #313855;
$font-color: #8EBBFF;
$input-background: rgba(142, 187, 255, 0.26);

.navbar {
    background-color: $primary-background;
    padding: 1rem 1.25rem 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 10vh;
    }

    h1 {
        color: $font-color;
        font-family: 'Playpen Sans', cursive;
    }
}

.user-image {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    margin-left: 1rem;
    cursor: pointer;
}

.hover--option {
    display: none;
    position: absolute;
    top: 10vh;
    right: 4vh;
    background-color: $primary-background;
    z-index: 1;

    p {
        color: $font-color;
        margin: 0;
        padding: 1rem;
        cursor: pointer;
    }

    p:hover {
        background-color: $input-background;
    }
}

.user-image:hover+.hover--option {
    display: block;
}

.hover--option:hover {
    display: block;
}

.sidebar {
    background-color: $primary-background;
    z-index: 1;
    height: 95vh;
    padding-top: 1rem;
    color: $font-color;
    transition: width 0.05s;
}


.sidebar--selected {
    color: $font-color;
    background-color: $input-background ;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0;
}

.sidebar--unselected {
    text-decoration: none;
    color: $font-color;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    margin: 0;
}

.home--main {
    display: flex;
}

@media (max-width: 600px) {
    .navbar{
        width: 93%;
    }
    .sidebar{
        z-index: 1;
        
    }
}