@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Roboto&display=swap');
 .navbar {
	 background-color: #313855;
	 padding: 1rem 1.25rem 1rem 1.25rem;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}
 .navbar img {
	 height: 10vh;
}
 .navbar h1 {
	 color: #8ebbff;
	 font-family: 'Playpen Sans', cursive;
}
 .user-image {
	 width: 4rem;
	 height: 4rem;
	 border-radius: 100%;
	 margin-left: 1rem;
	 cursor: pointer;
}
 .hover--option {
	 display: none;
	 position: absolute;
	 top: 10vh;
	 right: 4vh;
	 background-color: #313855;
	 z-index: 1;
}
 .hover--option p {
	 color: #8ebbff;
	 margin: 0;
	 padding: 1rem;
	 cursor: pointer;
}
 .hover--option p:hover {
	 background-color: rgba(142, 187, 255, 0.26);
}
 .user-image:hover + .hover--option {
	 display: block;
}
 .hover--option:hover {
	 display: block;
}
 .sidebar {
	 background-color: #313855;
	 z-index: 1;
	 height: 95vh;
	 padding-top: 1rem;
	 color: #8ebbff;
	 transition: width 0.05s;
}
 .sidebar--selected {
	 color: #8ebbff;
	 background-color: rgba(142, 187, 255, 0.26);
	 padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	 margin: 0;
}
 .sidebar--unselected {
	 text-decoration: none;
	 color: #8ebbff;
	 padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	 cursor: pointer;
	 margin: 0;
}
 .home--main {
	 display: flex;
}
 @media (max-width: 600px) {
	 .navbar {
		 width: 93%;
	}
	 .sidebar {
		 z-index: 1;
	}
}