$primary-background: #313855;
$font-color: #8EBBFF;
$input-background: #8ebbff42;


.info{
    padding-top: 1rem;
}
.info--selected-data{
    p{
        color: $font-color;
        font-size: 1.5rem;
        margin: 0.5rem 0 0.5rem 0;
    }
    input {
        background-color: $input-background;
        border: none;
        padding: 0.25rem;
        color: $font-color;
    }

    input:focus {
        outline: 1px solid $font-color;
        box-shadow: 0 0 10px 1px $font-color;
    }
}
.info--submit{
    background-color: #8ebbffdc;
    color: white;
    padding: 0.25rem 0 0.25rem 0 ;
    width: 100%;
    font-size: 1rem;
    border: none;
    transition: all 0.5s;
}
.info--submit:hover{
    cursor: pointer;
    background-color: $font-color;
}

@media (max-width: 600px){
    .multi-select-custom{
        width: 100%;
        padding: none;
        
        background-color: $input-background;
        width: 110vw;

    }
   
    .info--selected-data{
        flex-direction: column;
        align-items: start;
        width: max-content;
    }
    .info--selected-data-info{

        input{
            width: 5rem;
        }
    }
}