.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Login--card {
    background-color: #313855;
    padding: 1rem;
}

.Login--card label {
    color: #8EBBFF;
    font-size: 1.75rem;
}

.Login--card input {
    background-color: rgba(142, 187, 255, 0.26);
    border: none;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    padding: 0.4rem;
    color: #8EBBFF;
}

.Login--card input:focus {
    outline: #8EBBFF solid 1px;
}

.Login--card button {
    background-color: #8EBBFF;
    border: none;
    width: 100%;
    font-size: 1.5rem;
}
