$primary-background: #313855;
$font-color: #8EBBFF;
$input-background: rgba(142, 187, 255, 0.26);

.new-product{
    padding: 0 0 0 1rem;
    position: absolute;
    left: 15%;
    overflow-y: scroll;
    width: 83.75%;
    height: 85%;
    
    h2{
        color: $font-color;
    }
    input{
        background-color: $input-background;
        border: none;
        font-size: 1.25rem;
        color: $font-color;
        padding: 0.25rem;
    }
    input:focus{
        outline: 1px solid $font-color;
        box-shadow: 0 0 10px 1px $font-color;

    }
    select{
        background-color: $input-background;
        color: $font-color;
        font-size: 1rem;
        padding: 0.2rem;
    }
    select:focus{
        outline: 1px solid $font-color;
    }
    
}
.add{
    background-color: rgba(0, 128, 0, 0.639);
    color: white;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.4rem;
}
.add:hover{
    background-color: rgb(0, 128, 0);

}
.delete{
    background-color: rgba(241, 0, 0, 0.744);
    color: white;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.4rem;
}
.delete:hover{
    background-color: rgb(241, 0, 0);

    
}
.submit--button{
    background-color: $font-color;
    border: none;
    color: white;
    width: 90%;
    font-size: 1.5rem;
    padding: 0.5rem 0 0.5rem 0;
    margin-bottom: 0.5rem;
}