$primary-background: #313855;
$font-color: #8EBBFF;
$input-background: #8ebbff42;

.product-update {
    padding: 1rem 0 0 1rem;
    padding: 0 0 0 1rem;
    position: absolute;
    left: 15%;
    overflow-y: scroll;
    width: 83.75%;
    height: 85%;
    h1 {
        color: $font-color;
    }

    select {
        background-color: $input-background;
        border: none;
        color: $font-color;
        font-size: 1.25rem;
        padding: 0.5rem;
    }

    select:focus {
        outline: 2px solid $font-color;
    }
}
@media (max-width: 600px){
    .product-update{
        h1{
            font-size: 1.5rem;
        }
        select{
            font-size: 1rem;
            padding: 0.25rem;
        }
    }
    .multi-select-custom{
        width: 80%;
        padding: none;
        
        background-color: $input-background;
    }
}