.product-update {
    padding: 0 0 0 1rem;
    position: absolute;
    left: 15%;
    overflow-y: scroll;
    width: 83.75%;
    height: 85%;
}

.product-update h1 {
    color: #8EBBFF;
}

.product-update select {
    background-color: #8ebbff42;
    border: none;
    color: #8EBBFF;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.product-update select:focus {
    outline: 2px solid #8EBBFF;
}

@media (max-width: 600px) {
    .product-update h1 {
        font-size: 1.5rem;
    }

    .product-update select {
        font-size: 1rem;
        padding: 0.25rem;
    }

    .multi-select-custom {
        width: 80%;
        background-color: #8ebbff42;
    }
}
