$primary-background: #313855;
$font-color: #8EBBFF;
$input-background: #8ebbff42;

.selling-portal {
    padding: 0 0 1rem 1rem;
    position: absolute;
    left: 15%;
    overflow-y: scroll;
    width: 83.75%;
    height: 85%;
    overflow-x: scroll;
    h1 {
        color: $font-color;
        
    }

    left: 15vw;

    input {
        background-color: $input-background;
        border: none;
        padding: 0.25rem;
        color: $font-color;
        width: 50%;
        border-radius: 0.2rem;
        font-size: 1.25rem;
    }

    input:focus {
        outline: 1px solid $font-color;
        box-shadow: 0 0 10px 1px $font-color;
    }

    label {
        color: $font-color;
    }

    input#amazon {
        margin: 0;
        width: fit-content;
    }

    input#discount {
        margin: 0;
        width: fit-content;
    }

    select {
        background-color: $input-background;
        border: none;
        padding: 0.25rem;
        color: $font-color;
        width: 50%;
        border-radius: 0.2rem;
        font-size: 1.25rem;
    }
    p{
        color: white;
    }
    option {
        background: $font-color;
        color: white
    }
    select:focus{
        outline: 1px solid $font-color;
        box-shadow: 0 0 10px 1px $font-color;
    }
}

.selling-portal--selected-data {
    display: flex;
    justify-content: space-around;

    align-items: center;
    width: max-content;
}

.selling-portal--selected-data-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    input {
        background-color: $input-background;
        border: none;
        padding: 0.25rem;
        color: $font-color;
    }

    input:focus {
        outline: 1px solid $font-color;
        box-shadow: 0 0 10px 1px $font-color;
    }

    span {
        color: $font-color;
    }

}

.submit--button {
    background-color: $font-color !important;
    color: white !important;
    width: 90% !important;
}
.selling--portal-cancel{
    background-color: $primary-background;
    color: $font-color;
    border: 1px solid $font-color;
    border-radius: 0.2rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.selling--portal-submit{
    background-color: $font-color;
    color: white;
    font-size: 1.25rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

@media (max-width: 600px){
    .selling-portal {
        h1{
            font-size: 1.25rem;
        }
        input{
            font-size: 1rem;
            

        }
    }
    .multi-select-custom{
        width: 80%;
        padding: none;
        
        background-color: $input-background;
    }
    .selling-portal--selected-data{
        

        flex-direction: column;
        align-items: start;
        
    }
    .selling-portal--selected-data-info{
        
        input{
            width: 5rem;
        }
    }
}