$primary-background: #313855;
$font-color: #8EBBFF;
$input-background: rgba(142, 187, 255, 0.26);

.Settings {
    padding: 0 0 0 1rem;
    position: absolute;
    left: 15%;
    overflow-y: scroll;
    width: 83.75%;
    height: 85%;
    color: $font-color;
    input {
        background-color: $input-background;
        border: none;
        padding: 0.25rem;
        color: $font-color;
        margin: 0.5rem 0 1rem 0;
    }

    input:focus {
        outline: 1px solid $font-color;
        box-shadow: 0 0 10px 1px $font-color;
    }
    input::file-selector-button{
        background-color: $input-background;
        color: $font-color;
        border: none;
    }
    
}

.settings--submit-button{
    background-color: #8ebbffde !important;
    transition: all 0.3s;
    color: white !important;
    width: 90%;
}
.settings--submit-button:hover{
    background-color: $font-color !important;
    cursor: pointer;
}