.Settings {
    padding: 0 0 0 1rem;
    position: absolute;
    left: 15%;
    overflow-y: scroll;
    width: 83.75%;
    height: 85%;
    color: #8ebbff;
}
.Settings input {
    background-color: rgba(142, 187, 255, 0.26);
    border: none;
    padding: 0.25rem;
    color: #8ebbff;
    margin: 0.5rem 0 1rem 0;
}
.Settings input:focus {
    outline: 1px solid #8ebbff;
    box-shadow: 0 0 10px 1px #8ebbff;
}
.Settings input::file-selector-button {
    background-color: rgba(142, 187, 255, 0.26);
    color: #8ebbff;
    border: none;
}
.settings--submit-button {
    background-color: #8ebbff de !important;
    transition: all 0.3s;
    color: white !important;
    width: 90%;
}
.settings--submit-button:hover {
    background-color: #8ebbff !important;
    cursor: pointer;
}
