.stock {
    margin-top: 1rem;
    width: 80vw;
}
.stock--selected-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stock--selected-data-info {
    display: flex;
    align-items: center;
}
.stock--selected-data-info input {
    background-color: #8ebbff76;
    border: none;
    padding: 0.25rem;
    color: #8ebbff;
}
.stock--selected-data-info input:focus {
    outline: 1px solid #8ebbff;
    box-shadow: 0 0 10px 1px #8ebbff;
}
.stock--selected-data-info span {
    color: #8ebbff;
}
.stock--submit {
    background-color: #8ebbff;
    width: 80vw;
    color: white;
    padding: 0.25rem 0 0.25rem 0;
    font-size: 1rem;
    cursor: pointer;
}
@media (max-width: 600px) {
    .multi-select-custom {
        width: 100%;
        padding: none;
        background-color: #8ebbff76;
        width: 110vw;
   }
    .stock--selected-data {
        flex-direction: column;
        align-items: start;
        width: max-content;
   }
    .stock--selected-data-info input {
        width: 5rem;
   }
}
