$primary-background: #313855;
$font-color: #8EBBFF;
$input-background: #8ebbff42;

.stock{
    margin-top: 1rem;
    width: 80vw;
}


.stock--selected-data {
    display: flex;
    justify-content: space-around;

    align-items: center;
}

.stock--selected-data-info {
    display: flex;
    align-items: center;

    input {
        background-color: $input-background;
        border: none;
        padding: 0.25rem;
        color: $font-color;
    }

    input:focus {
        outline: 1px solid $font-color;
        box-shadow: 0 0 10px 1px $font-color;
    }

    span {
        color: $font-color;
    }

}
.stock--submit{
    background-color: $font-color;
    width: 80vw;
    color: white;
    padding: 0.25rem 0 0.25rem 0;
    font-size: 1rem;
    cursor: pointer;
}
@media (max-width: 600px){
    .multi-select-custom{
        width: 100%;
        padding: none;
        
        background-color: $input-background;
        width: 110vw;

    }
   
    .stock--selected-data{
        flex-direction: column;
        align-items: start;
        width: max-content;
    }
    .stock--selected-data-info{

        input{
            width: 5rem;
        }
    }
}