@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background: #23293D;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    overflow-y: hidden;
}
